*{
    
    font-family: 'Poppins', sans-serif;
}


header{
    width: 100%;
    height: 15vh;
    background-color:blue;
    background-image: url(/img/pattern.png);
    background-size: 30%;
    
    
    
}

.logo{
    margin-top:50px;
}

h1{
    font-size: 50px;
    margin-top:0px;
}
span{
    color:rgb(45, 168, 199);
}

h6{
    padding:10px;
}
p{
    padding:10px;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
}
.blue{
    background-color: #1b8acae5;
    color:white;
    
}

.blu-chiaro{
    text-align: center;
    background-color: rgb(41, 180, 204);
    
}

.spazio{
    height: 20px;
}
h4{
    padding:10px;
}
.lungo{
  width: 40%;
}
